@font-face {
  font-family: "Futura PT";
  src: url("./fonts/FuturaPT/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"),
    url("./fonts/FuturaPT/FuturaPT-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/FuturaPT/FuturaPT-Medium.woff") format("woff"),
    url("./fonts/FuturaPT/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
}

:root {
  --main-color-text: #ffffff;
  --second-color-text: #478bf9;
  --main-color-background: #110a1d;
  --second-color-background: #478bf9;
  --accent-color-background: #9dadf2;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 16px 0 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  font-family: -apple-system, BlinkMacSystemFont, "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color-text);
  background: var(--main-color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--main-color-text);
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
}

.header {
  padding: 24px 48px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 64px;
  border: 4px solid var(--second-color-background);
}

.list {
  display: flex;
}

.header__logo {
  width: 286px;
}

.nav {
  margin-right: 190px;
}

.nav__item:not(:last-child) {
  margin-right: 32px;
}

.nav__link:hover,
.nav__link:focus,
.footer__link:hover,
.footer__link:focus {
  color: var(--second-color-text);
  text-decoration: underline;
}

.header__item:not(:last-child) {
  margin-right: 14px;
}

.header__item {
  border-radius: 24px;
  border: 2px solid var(--accent-color-background);
}

.header__item--active,
.blog__link--active {
  background: var(--second-color-background);
}

.header__link {
  display: flex;
  align-items: center;
  padding: 14px;
  text-transform: uppercase;
}

.header__link--planet::before {
  display: inline-flex;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-size: 16px 16px;
  background-image: url("./assets/svg/planet.svg");
}

.header__item--desk {
  display: none;
}

.header__item:hover,
.header__item:focus {
  background: var(--second-color-background);
  transition: all 0.5s;
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero {
  max-width: 670px;
  margin-top: 304px;
}

.hero__title {
  font-size: 96px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.hero__title--accent {
  color: var(--second-color-text);
}

.hero__descr {
  margin: 24px 0 48px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

.hero__btn {
  padding: 20px 72px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  background: var(--second-color-background);
  border-radius: 48px;
  transition: 0.5s;
}

.hero__btn:hover,
.hero__btn:focus {
  background: #1c5fcc;
}

.animation {
  display: flex;
  overflow: hidden;
  min-width: 364px;
}

.animation__list {
  display: block;
  position: relative;
  height: 1026px;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.animation__list--top {
  margin: 0 16px;
  opacity: 0.7;
  animation: bar 10s infinite linear;
}

.animation__list--bottom {
  opacity: 0.2;
  animation: tobottom 10s infinite linear;
}

.animation__list--three {
  opacity: 0.4;
  animation: tobottom 10s infinite linear;
}

.menu,
.menu-btn {
  display: none;
}

@keyframes bar {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes tobottom {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}

.animation__item:not(:last-child) {
  margin-bottom: 20px;
}

.animation__desk {
  display: block;
}

.animation__mob {
  display: none;
}

.blog {
  margin-top: 148px;
}

.blog__title {
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

.blog__box {
  overflow: hidden;
  border-radius: 100px;
  border: 3px solid var(--second-color-background);
}

.blog__wrapper {
  height: 595px;
  max-width: 530px;
  min-width: 500px;
  padding: 24px 24px 40px;
  background: rgba(255, 255, 255, 0.12);
}

.blog__list {
  margin-right: 16px;
}

.simplebar-scrollbar:before {
  width: 8px;
  height: 104px;
  background: var(--second-color-background) !important;
  opacity: 1 !important;
}

.simplebar-track {
  margin: 96px 16px 96px 0;
  height: 408px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

.blog__item {
  font-size: 24px;
  line-height: 1.16;
  background: var(--main-color-background);
  border-radius: 196px;
}

.blog__item:not(:last-child) {
  margin-bottom: 16px;
}

.blog__link {
  display: block;
  padding: 16px 64px;
  border-radius: 196px;
}

.blog__link:hover,
.blog__link:focus {
  background: var(--second-color-background);
}

.blog__date {
  display: block;
  margin-top: 14px;
  font-family: "Futura PT";
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 140px 24px;
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid var(--second-color-background);
  border-right: 4px solid var(--second-color-background);
  border-left: 4px solid var(--second-color-background);
}

.footer__list {
  align-items: end;
}

.footer__item:not(:last-child) {
  margin-right: 40px;
}

.list-social__item {
  width: 32px;
  height: 32px;
}

.list-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-image: url(./assets/svg/ring.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.list-social__link:hover,
.list-social__link:focus {
  background-image: url(./assets/svg/focus.svg);
}

.list-social__item:not(:last-child) {
  margin-right: 8px;
}

.footer__text {
  margin-bottom: 14px;
  text-align: end;
}

.menu-btn {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.menu-btn span {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-color-text);
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  position: fixed;
  top: 95px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: var(--main-color-background);
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 2;
}

.menu.active {
  transform: translateX(0);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

@media (max-width: 1410px) {
  .hero__title {
    font-size: 66px;
  }

  .blog__wrapper {
    max-width: 480px;
    min-width: 400px;
  }
}

@media (max-width: 1240px) {
  .nav {
    margin-right: 40px;
  }

  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .blog {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .animation {
    flex-direction: column;
    width: 100vw;
  }

  .animation__list {
    display: flex;
    height: auto;
    margin-bottom: 0;
  }

  .animation__desk {
    display: none;
  }

  .animation__mob {
    display: block;
    width: 220px;
    height: 100px;
  }

  .animation__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 14px;
  }

  @keyframes toleft {
    0% {
      left: -60%;
    }
    100% {
      left: 0%;
    }
  }

  @keyframes torigth {
    0% {
      left: 0%;
    }
    100% {
      left: -60%;
    }
  }

  .animation__list--top {
    margin: 20px 0;
    opacity: 0.7;
    animation: torigth 10s infinite linear;
  }

  .animation__list--bottom {
    opacity: 0.2;
    animation: toleft 10s infinite linear;
  }

  .animation__list--three {
    opacity: 0.4;
    animation: toleft 10s infinite linear;
  }

  .header,
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1000px) {
  body {
    margin: 10px 0 0;
  }

  .container {
    padding: 0 10px;
    margin: 0 auto;
  }

  .nav {
    margin-right: 0;
  }

  .header {
    padding: 10px 14px;
    margin: 0 10px;
  }

  .header__container {
    display: none;
  }

  .header__item--desk {
    display: block;
    margin: 0;
    border-radius: 24px;
    margin-bottom: 0 !important;
  }

  .header__item--login {
    margin-top: 25px;
    margin-bottom: 5px !important;
  }

  .header__link--desk {
    padding: 8px;
  }

  .header__link--planet::before {
    margin-right: 0;
  }

  .header__item--mob {
    display: none;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item:not(:last-child),
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .nav__link {
    display: block;
    padding: 12px 20px;
    border-radius: 28px;
    border: 2px solid var(--second-color-background);
  }

  .menu,
  .menu-btn {
    display: block;
  }

  .menu-btn {
    margin-left: 20px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__text {
    margin: 10px 0;
    text-align: center;
  }
}

@media (max-width: 760px) {
  .hero {
    margin-top: 70px;
    margin-bottom: 32px;
  }

  .hero__title {
    font-size: 46px;
    font-weight: 500;
    line-height: 1.08;
  }

  .hero__descr {
    margin: 12px 0 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }

  .hero__btn {
    width: 100%;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
  }

  .footer {
    padding: 20px;
    align-items: start;
    font-size: 14px;
    line-height: 1.43;
  }

  .footer__list--first {
    flex-direction: column;
    align-items: start;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
  }

  .footer__text {
    margin: 20px 0 8px;
    text-align: start;
  }

  .list-social__item {
    width: 26px;
    height: 26px;
  }

  .animation__item > img {
    width: 50px;
    height: 50px;
  }

  .animation__item > .animation__mob {
    width: 110px;
  }

  .animation__list--top {
    margin: 8px 0;
  }

  .blog {
    margin-top: 32px;
  }

  .blog__title {
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
  }

  .blog__box {
    width: 100%;
    max-height: 420px;
    border-radius: 50px;
  }

  .blog__wrapper {
    height: 420px;
    min-width: 300px;
    max-width: 600px;
    padding: 10px 10px 16px;
  }

  .blog__list {
    text-align: start;
    margin-right: 6px;
  }

  .blog__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .blog__item {
    border-radius: 40px;
  }

  .blog__link {
    padding: 15px 35px;
    border-radius: 40px;
  }

  .blog__text {
    font-size: 16px;
    line-height: 1.25;
  }

  .blog__date {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 450;
    line-height: 1.14;
  }

  .simplebar-scrollbar:before {
    width: 4px;
    height: 78px;
  }

  .simplebar-track {
    margin: 60px 6px 60px 0;
    height: 300px;
    border-radius: 10px;
  }

  .simplebar-track.simplebar-vertical {
    width: 4px !important;
  }
}
